<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% trans "Business Elite" %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/Business-elite-logo-bg.png' %}" rel="icon">

  <!-- Google Fonts -->
  {% comment %} <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet"> {% endcomment %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet">

  <!-- Fonts Logo -->
  {% comment %} <link href="https://blogfonts.com/css/aWQ9MTcyMDk5JnN1Yj05OSZjPWQmdHRmPURlYWxlclN0cmlrZXMtMUduWWoudHRmJm49ZGVhbGVyLXN0cmlrZXMtMg/Dealer Strikes.ttf" rel="stylesheet" type="text/css"/> {% endcomment %}

  <link href="//db.onlinewebfonts.com/c/0a1d844d3d15ec142620a5e906eecf76?family=Dealer+Strikes" rel="stylesheet" type="text/css"/>

  <!-- Slider Cards Swiper-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/css/swiper.min.css" rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- CSS Links -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'ar' %}
      <link type="text/css" rel="stylesheet" href="{% static 'assets/css/style-rtl.css'%}" />
      <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.rtl.css' %}" rel="stylesheet">
    {% endif %}

  <!-- =======================================================
  * Template Name:Business Elite
  ======================================================== -->

</head>

<body>


  <!-- ================ Start Navbar =================== -->

  <div id="menu-jk" class="header-container container-fluid">
    <div class="header-top">
      <div class="container d-flex align-items-cente">
        <div class="row">

          <div class="logo mr-auto">
            <img src="{% static 'assets/img/logo-none-bg.png' %}" alt="">
            <button class="navbar-toggler d-lg-none d-md-block " type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
          </div>

          <div class="d-lg-block">
            <div class="container">
              <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav m-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'properties:home' %}">{% trans "Home" %}</a>
                    </li>

                    {% for cat in categories_base %}
                      <li class="nav-item">
                        <a class="nav-link" href="{{cat.get_absolute_url}}" target="_blank">{{cat.name}}</a>
                      </li>
                    {% endfor %}

                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'blog:post_list' %}" target="_blank">{% trans "Blog" %}</a>
                    </li>  
                    <li class="nav-item">
                      {% get_current_language as LANGUAGE_CODE %}
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info_list for LANGUAGES as languages %}
                          <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                              {% for language in languages %}
                                  {% if language.code != LANGUAGE_CODE %}
                                      <button type="submit" name="language" value="{{ language.code }}"
                                              style="background-color: #fff0;border: none;color: #ff">
                                        <p class="nav-link">{{ language.name }}</p>
                                      </button>
                                  {% endif %}
                              {% endfor %}
                          </form>
                    </li>


                  </ul>
                </div>
              </nav>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- ================ Start Social Media ============== -->
  <div class="body-social-media">
    <nav class="social">
      <ul>
        <li class="mail">
          <a href="mailto:contactus@businesselitesoft.com" target="_blank">
            contactus@businesselitesoft.com
            <i class="far fa-envelope"></i>
          </a>
        </li>
        <li class="phone">
          <a href="#">
            {% trans "+966 12 667 6677" %}
            <i class="fas fa-phone"></i>
          </a>
        </li>
        <li class="whatsapp">
          <a href="https://api.whatsapp.com/send?phone=966566333723" target="_blank">
            {% trans "+966 56 633 3723" %}
            <i class="fab fa-whatsapp"></i>
          </a>
        </li>
        <li class="messenger">
          <a href="https://web.facebook.com/businesselitesoft" target="_blank">
            {% trans "Business Elite Chat" %}
            <i class="fab fa-facebook-messenger icon"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>


  {% block body %}

  {% endblock body %}



  <!-- ================= Footer Sections =============== --->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Business Elite</h3>
            <i class="fa fa-map-marker"></i>
            <p class="text">
              {% trans "Saudi Arabia,Jeddah," %}<br>
              {% trans "Al Sharafeyah" %},<br>
              {% trans "Khalid Ibn Al Waleed" %} <br><br>
            </p>
            <i class="fa fa-mobile"></i>
            <p class="text">{% trans "+96656044363" %}</p>
            <br>
            <i class="fa fa-envelope"></i>
            <p class="text">contactus@businesselitesoft.com</p><br>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>{% trans "Useful Links" %}</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'properties:home' %}">{% trans "Home" %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about_us">{% trans "About us" %}</a></li>
              {% for cat in categories_base %}
                <li><i class="bx bx-chevron-right"></i> <a href="{{cat.get_absolute_url}}">{{cat.name}}</a></li>
              {% endfor %}
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'blog:post_list' %}">{% trans "Blog" %}</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>{% trans "Our Services" %}</h4>
            <ul>
              {% for sub in sub_category_base %}
                <li><i class="bx bx-chevron-right"></i> <a href="{{sub.get_absolute_url}}">{{sub.name}}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>{% trans "Our Social Networks" %}</h4>
            <p>{% trans "Follow us on social media for important updates from Business Elite" %}</p>
            <div class="social-links mt-3">
              <a href="https://twitter.com/businesselite4?s=11" class="twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://web.facebook.com/businesselitesoft" class="facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://www.instagram.com/businesselitesoft/" class="instagram">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://www.linkedin.com/feed/update/urn:li:activity:6843502489606623232" class="linkedin">
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="copyright">
          {% trans "All Rights Reserved" %} &copy; <strong><span>Business Elite</span></strong>
        </div>
        <div class="credits">
          {% trans "Designed by" %} <a href="/">Business Elite</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->



  <!-- Links -->
  <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
  <div id="preloader"></div>



  <!-- Chat Live -->
  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
  <div class="elfsight-app-1b8cf06e-c727-4e5e-93cc-4caae9edbe29" id="chat_live"></div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

  <!-- Header Animation -->

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/js/particles.js' %}"></script>
  <script src="{% static 'assets/js/app.js' %}"></script>
  <script src="{% static 'assets/js/lib/stats.js' %}"></script>


  <!-- stats.js -->
  <script>
    var count_particles, stats, update;
    stats = new Stats;
    stats.setMode(0);
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.left = '0px';
    stats.domElement.style.top = '0px';
    document.body.appendChild(stats.domElement);
    count_particles = document.querySelector('.js-count-particles');
    update = function() {
      stats.begin();
      stats.end();
      if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
        count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
      }
      requestAnimationFrame(update);
    };
    requestAnimationFrame(update);
  </script>


    <!-- Link Swiper's CSS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/js/swiper.min.js"></script>
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

 {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'ar' %}
      <script src="{% static 'assets/js/main-rtl.js' %}"></script>
    {% endif %}

</body>

</html>